/* Initial CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Scrollbar */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #339cff #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #339cff;
    border-radius: 11px;
    border: 3px solid #339cff;
  }

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.x-center{
  display: flex;
  justify-content: center;
}

.y-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.screen-max{
  width: 100%;
  max-width: 1920px;
}

.abs-center{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.lf-player-container{
  width: fit-content;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
