/* Initial CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen-max{
  width: 100%;
  max-width: 1920px;
}

.abs-center{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}